<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <title>NexusManager</title>
  </head>
  <body>
    <div class="container ">
      <div class="row ">
        <div class="w-75 my-4">
           <h2><center></center></h2><br>
        </div>
    <div class="w-25 my-4">
      <h2><center></center></h2><br>
    </div>
  </div>
  </div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-3">
      
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="input-group mb3">
          <div class="input-group-text  col-md-5">
            <h5>Repo name</h5>
          </div>
          <div class="input-group-text  col-md-1">
            <h5>Repos size</h5>
          </div>
        </div>
      </div>
      
      <form action="/delete/" method="POST">
      {{range .Data}}
      <div class="row">
       <div class="input-group mb3">
          <div class="input-group-text col-md-5">
            <a href="/{{ .RepoName }}" class="stretched-link link-success" style="position: relative;">{{ .RepoName }}</a>
          </div>
          <div  class="input-group-text col-md-1">
            {{ .Size }} Mb
          </div>
       </div>
      </div>
      {{end}}
     
      </form>
</div>
</div>

<div class="container ">
  <div class="row ">
    <div class="w-75 my-4">
       <h2><center>Время {{ .Time }}</center></h2><br>
    </div>
<div class="w-25 my-4">
  <h2><center></center></h2><br>
</div>
</div>
</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/assets/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script>
         $('#all').change(function(e) {
             if (e.currentTarget.checked) {
              $('.rows').find('input[type="checkbox"]').prop('checked', true);
            } else {
              $('.rows').find('input[type="checkbox"]').prop('checked', false);
            }
          });
      </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>
